@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.animate-first {
  animation: moveFirst 30s ease infinite;
}
.animate-second {
  animation: moveSecond 30s ease infinite;
}
.animate-third {
  animation: moveThird 30s ease infinite;
}
.animate-fourth {
  animation: moveFourth 30s ease infinite;
}
.animate-fifth {
  animation: moveFifth 30s ease infinite;
}

@keyframes moveFirst {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  33% {
    transform: translate(30%, -50%) scale(1.1);
  }
  66% {
    transform: translate(-20%, 40%) scale(0.9);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

@keyframes moveSecond {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  33% {
    transform: translate(-40%, 50%) scale(1.15);
  }
  66% {
    transform: translate(20%, -30%) scale(0.85);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

@keyframes moveThird {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  33% {
    transform: translate(50%, 20%) scale(1.2);
  }
  66% {
    transform: translate(-30%, -40%) scale(0.8);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

@keyframes moveFourth {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  33% {
    transform: translate(-20%, -50%) scale(1.1);
  }
  66% {
    transform: translate(40%, 30%) scale(0.9);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}

@keyframes moveFifth {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  33% {
    transform: translate(30%, 40%) scale(1.05);
  }
  66% {
    transform: translate(-50%, -20%) scale(0.95);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}